# ================================
#   Environment Configuration
# ================================
# ENVIRONMENT: DEV | PROD
ENVIRONMENT=DEV
DEBUG=True

# ================================
#   Server Config
# ================================
BACKEND_SERVER_HOST=0.0.0.0
BACKEND_SERVER_PORT=18176
BACKEND_SERVER_WORKERS=1

# ================================
#   API Docs Config
# ================================
API_PREFIX="/api"
DOCS_URL="/api-doc.html"
OPENAPI_URL="/api.json"
REDOC_URL="/api-redoc.html"

DOCS_AUTH_USERNAME=admin
DOCS_AUTH_PASSWORD=your_docs_password_here

# ================================
#   AI & LLM Config (OpenAI 兼容格式)
# ================================
LLM_API_KEY=sk-your_api_key_here
LLM_BASE_URL=https://api.openai.com/v1
LLM_MODEL_NAME=gpt-4o
AGGREGATION_API_URL=http://localhost:8080/api/v1/ai/all-emergency-resources

# ================================
#   Primary Postgres Config
# ================================
POSTGRES_CONNECT=postgresql
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=your_database
POSTGRES_USERNAME=your_username
POSTGRES_PASSWORD=your_password
# POSTGRES_SCHEMA=public

# ================================
#   Secondary Postgres Config
# ================================
POSTGRES_CONNECT_ANOTHER=postgresql
POSTGRES_HOST_ANOTHER=localhost
POSTGRES_PORT_ANOTHER=5432
POSTGRES_DB_ANOTHER=your_another_database
POSTGRES_USERNAME_ANOTHER=your_username
POSTGRES_PASSWORD_ANOTHER=your_password
# POSTGRES_SCHEMA_ANOTHER=public

# ================================
#   SQLAlchemy Pool Config
# ================================
DB_MAX_POOL_CON=80
DB_POOL_SIZE=100
DB_POOL_OVERFLOW=20
DB_TIMEOUT=5
DB_POOL_RECYCLE=1800
DB_POOL_TIMEOUT=60
DB_POOL_RESET_ON_RETURN=rollback
DB_RETRY_ATTEMPTS=3
DB_RETRY_DELAY=1.0
DB_RETRY_BACKOFF=2.0
IS_DB_ECHO_LOG=True
IS_DB_FORCE_ROLLBACK=False
IS_DB_EXPIRE_ON_COMMIT=True

# ================================
#   Production Redis Config
# ================================
PROD_REDIS_HOST=127.0.0.1
PROD_REDIS_PORT=6379
PROD_REDIS_DB=0
PROD_REDIS_PASSWORD=your_redis_password
PROD_REDIS_CLUSTER=false
PROD_REDIS_NODES=

# ================================
#   Test Redis Config
# ================================
TEST_REDIS_HOST=127.0.0.1
TEST_REDIS_PORT=6379
TEST_REDIS_DB=0
TEST_REDIS_PASSWORD=your_redis_password
TEST_REDIS_CLUSTER=false
